<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(~{::title}, ~{::#content})}">
<body>
<title>SUCCESS</title>
<section id="content">
  <main>
    <div class="mt-40 text-center text-success">
      <h1>
        <i class="far fa-check-circle"></i>
        Success!
      </h1>
    </div>
    <div class="mt-40 text-center">
      <div class="mt-20 text-info">
        Payment Intent ID: [[${paymentIntentId}]]
      </div>
      <div class="mt-20 text-info">
        Total amount: $<span class="amount" th:attr="data-amount=${totalAmount}"></span>
      </div>
    </div>
  </main>
</section>
</body>
</html>